<div class="row">
  <div class="col-xs-3">
    <h2>User info</h2>
    <table class="table">
        <tr><%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></tr>
        <tr>
          <th>name</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @user.introduction %></th>
        </tr>
    </table>
    <div class="row">
      <% if @user == current_user %>
      <%= link_to  "",  edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}"  %>
    <% else %>
      <%= link_to  "",  user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench user_#{current_user.id}"  %>
    <% end %>
    </div>

    <%= render 'users/list', new_book: @new_book %>


  </div>
  <div class="col-xs-9">
    <h2>Books</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
      <% @user.books.each do |f| %>
        <tr>
           <th>
            <%= link_to user_path(f.user), class: "user_#{f.id}" do %>
           <%= attachment_image_tag @user, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
           <% end %>
           </th>
           <th>
           <%= link_to book_path(f.id), class: "book_#{f.id}" do %>
           <%= f.title %>
           <% end %>
           </th>
           <th><%= f.body %></th>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
